<template>
  <div class="information-container h-screen w-screen">
    <div class="information-showcase h-full">
      <div class="flex justify-center flex-col h-full items-center" :class="setShowcaseClass()">
        <slot
          :information="information"
          :setHeadingClass="setHeadingClass"
          :query="this.$route.query"
          :setCodeClass="setCodeClass"
          :setButtonClass="setButtonClass"
          :setInsideLaptopImageClass="setInsideLaptopImageClass"
        />
      </div>
    </div>
  </div>
</template>

<script>
// Mixins
import { mobileMixin } from '@/mixins';

export default {
  mixins: [mobileMixin],
  name: 'Information',
  data: () => ({
    information: {
      image: null,
      status: '',
      message: '',
      color: '',
      url: ''
    }
  }),
  created() {
    const type = this.$route.query.type;
    const isQueryTypeMatch = type === 'success' || type === 'failed' || type === 'maintenance' || type === 'server';
    this.renderInformation(this.$route.query.type);
    this.onResize(window);
    if (!isQueryTypeMatch) {
      return this.$router.push(`/informations?type=server&code=500`);
    }
  },
  methods: {
    // Set heading label class
    setHeadingClass() {
      return {
        'text-danger': this.information.color === 'danger' && !this.isAllMobileSizeWidth,
        'text-success': this.information.color === 'success' && !this.isAllMobileSizeWidth,
        'text-primary': this.information.color === 'primary' && !this.isAllMobileSizeWidth,
        'text-white': this.isAllMobileSizeWidth,
        'mt-6': this.$route.query.code ? false : true,
        'ml-64': parseInt(this.$route.query?.code) >= 500 && !this.isAllMobileSizeWidth
      };
    },

    // Set the showcase class
    setShowcaseClass() {
      let mobileSize = this.isAllMobileSizeWidth;

      let commonClasses = {
        'ml-16': !mobileSize,
        'information-showcase-common-size': true
      };

      switch (this.$route.query.type) {
        case 'success':
        case 'failed':
          return {
            ...commonClasses,
            'information-showcase-common': !mobileSize
          };
        case 'maintenance':
          return {
            ...commonClasses,
            'information-showcase-maintenance': !mobileSize
          };
        case 'server':
          if (parseInt(this.$route.query?.code) >= 500) {
            return {
              ...commonClasses,
              'information-showcase-common-size': false,
              'information-showcase-server-second': !mobileSize,
              'information-showcase-server-second-size': !mobileSize
            };
          } else {
            return {
              ...commonClasses,
              'information-showcase-server': !mobileSize
            };
          }

        default:
          return {
            'information-showcase-common': true,
            'information-showcase-common-size': true
          };
      }
    },

    // For setting class when any server error
    setCodeClass() {
      if (parseInt(this.$route.query?.code) >= 500) {
        return {
          'mt-32': !this.isAllMobileSizeWidth,
          'ml-64': !this.isAllMobileSizeWidth
        };
      } else {
        return {
          'mt-32': !this.isAllMobileSizeWidth
        };
      }
    },

    // Set inside laptop class
    setInsideLaptopImageClass() {
      let mobileSize = this.isAllMobileSizeWidth;

      return {
        'mt-48': !mobileSize
      };
    },

    // For button class
    setButtonClass() {
      if (parseInt(this.$route.query?.code) >= 500) {
        return {
          'ml-64': !this.isAllMobileSizeWidth,
          'bg-white': true
        };
      }
    },

    renderInformation(type = '') {
      let mobileSize = this.isAllMobileSizeWidth;
      let commonSetting = {
        url: this.$route.query.url ?? '/'
      };

      switch (type) {
        case 'failed':
          return (this.information = {
            ...commonSetting,
            image: require(`@/assets/images/information/information-cross.png`),
            status: 'Failed',
            message: this.$route.query.message ?? 'Something when wrong',
            color: 'danger'
          });
        case 'success':
          return (this.information = {
            ...commonSetting,
            image: require(`@/assets/images/information/information-success.png`),
            status: 'Success',
            message: this.$route.query.message ?? 'Successfully save data',
            color: 'success'
          });
        case 'server':
          return (this.information = {
            ...commonSetting,
            image: null,
            status: this.$route.query.code == 404 ? 'Page Not Found' : this.$route.query.code == 500 ? 'Internal Server Error' : '',
            message: '',
            color: mobileSize ? 'warning' : 'primary'
          });
        default:
          return (this.information = {
            image: require(`@/assets/images/information/information-cross.png`)
          });
      }
    }
  }
};
</script>
