<template>
  <div class="dashboard-container" :class="setDashboardClass()">
    <router-view />
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'DashboardWrapper',
  computed: {
    ...mapState('General', ['isSidebarOpen'])
  },
  methods: {
    setDashboardClass() {
      return {
        'p-8': true,
        'dashboard-container-collapse': !this.isSidebarOpen,
        'dashboard-container-uncollapse': this.isSidebarOpen
      };
    }
  }
};
</script>
